<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>HOST CLOUD</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="lms-page-index">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-md-8 m-auto">
                        <div class="header-text caption text-center">
                            <h2>Search your domain</h2>
                            <div id="search-section">
                                <form id="suggestion_form" name="gs" method="get" action="#">
                                    <div class="searchText">
                                        <input type="text" name="q" class="searchText" placeholder="Enter your domain here..." autocomplete="on">
                                    </div>
                                    <input type="submit" name="results" class="main-button" value="Search Now">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="services-section" class="services-section">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-md-8 offset-md-2">
                        <div class="section-heading text-center">
                            <span>Hosting Services</span>
                            <h2>Services we provide</h2>
                            <p>Host Cloud is a professional Bootstrap 4 template by TemplateMo for your hosting company websites. There are 4 HTML
                                pages included in this template. You can feel free to customize anything. Please share this template to your
                                friends. Thank you.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="fa fa-database"></i>
                            <h4>10x Light Cloud</h4>
                            <p>Aenean sit amet leo vitae tellus vehicula tincidunt vel sed lorem. Nullam tincidunt commodo magna, id aliquam sapien
                            sollicitudin id.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="fa fa-database"></i>
                            <h4>Managed VPS Cloud</h4>
                            <p>You are not allowed to re-distribute this template as a downloadable ZIP file on any template collection website. Please
                            contact us if you want to.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-item">
                            <i class="fa fa-database"></i>
                            <h4>Fully Dedicated</h4>
                            <p>Aenean sit amet leo vitae tellus vehicula tincidunt vel sed lorem. Nullam tincidunt commodo magna, id aliquam sapien
                            sollicitudin id.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <section id="pricing-section" class="pricing-section">
            <div class="background-image-pricing"></div>
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="section-heading">
                                <h2>Cloud Hosting Plans</h2>
                                <p>Lorem ipsum dolor amet taxidermy sriracha cardigan salvia actually vice migas enamel pin sustainable
                                    carry scenester lomo hot chicken farm table actually kinfolk.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="pricing-item">
                                <h4>Basic Cloud 5x</h4>
                                <div class="price">
                                    <h6>$15.50</h6>
                                    <span>monthly</span>
                                </div>
                                <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
                                <div class="dev"></div>
                                <ul>
                                    <li><i class="fa fa-check"></i>500 GB Storage Space</li>
                                    <li><i class="fa fa-check"></i>3 TB Data Transfer</li>
                                    <li><i class="fa fa-check"></i>Basic Managed Panel</li>
                                    <li><i class="fa fa-check"></i>24/7 Fast Support</li>
                                    <li><i class="fa fa-check"></i>100 Premium Themes</li>
                                    <li><i class="fa fa-check"></i>Cancel or Upgrade Anytime</li>
                                </ul>
                                <a href="#" class="main-button">Start Plan</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="pricing-item">
                                <h4>Cloud VPS 10x</h4>
                                <div class="price price-gradient">
                                    <h6>$30.00</h6>
                                    <span>monthly</span>
                                </div>
                                <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
                                <div class="dev"></div>
                                <ul>
                                    <li><i class="fa fa-check"></i>1 TB Cloud Space</li>
                                    <li><i class="fa fa-check"></i>8 TB Data Transfer</li>
                                    <li><i class="fa fa-check"></i>Fully Managed Panel</li>
                                    <li><i class="fa fa-check"></i>15-minute Quick Support</li>
                                    <li><i class="fa fa-check"></i>Unlimted Web Addons</li>
                                    <li><i class="fa fa-check"></i>Cancel or Upgrade Anytime</li>
                                </ul>
                                <a href="#" class="gradient-button">Select Plan</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="pricing-item">
                                <h4>Advanced Cloud</h4>
                                <div class="price">
                                    <h6>$72.25</h6>
                                    <span>monthly</span>
                                </div>
                                <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
                                <div class="dev"></div>
                                <ul>
                                    <li><i class="fa fa-check"></i>4 TB Cloud Space</li>
                                    <li><i class="fa fa-check"></i>20 TB Data Transfer</li>
                                    <li><i class="fa fa-check"></i>Fully Managed Panel</li>
                                    <li><i class="fa fa-check"></i>15-minute Quick Support</li>
                                    <li><i class="fa fa-check"></i>Top Notch Web Apps</li>
                                    <li><i class="fa fa-check"></i>Advanced Scalable</li>
                                </ul>
                                <a href="#" class="main-button">Take it now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="features-section" class="features-section">
            <div class="background-image-pricing"></div>
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <span>Best Quality for you</span>
                            <h2>Cloud Features</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="icon">
                                <img src="images/feature-01.png" class="img-fluid">                                
                            </div>
                            <h4>Load Balanced</h4>
                            <p>Nulla nisl ex, vehicula in urna nec, commodo consectetur augue. Vivamus nec metus mauris. Praesent lacinia tempus urna.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="icon">
                                <img src="images/feature-01.png" class="img-fluid">
                            </div>
                            <h4>99.9% Uptime Guaranteed</h4>
                            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="icon">
                                <img src="images/feature-01.png" class="img-fluid">
                            </div>
                            <h4>Top Reliability</h4>
                            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="icon">
                                <img src="images/feature-01.png" class="img-fluid">
                            </div>
                            <h4>High Security</h4>
                            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="icon">
                                <img src="images/feature-01.png" class="img-fluid">
                            </div>
                            <h4>Quality Hardwares</h4>
                            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <div class="icon">
                                <img src="images/feature-01.png" class="img-fluid">
                            </div>
                            <h4>Network Solutions</h4>
                            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        
        <section class="testimonial text-center">
            <div class="container">
        
                <div class="heading white-heading">
                    Testimonial
                </div>
                <div id="testimonial4"
                    class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
        
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="testimonial4_slide">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                                <p>"Vestibulum mauris ipsum, tempor tincidunt justo sit amet, bibendum tincidunt dui. Aenean molestie, odio quis viverra
                                ultricies, leo tellus lacinia neque, sit amet maximus tortor nunc aliquet felis." </p>
                                <h4>Trevor Liam</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                                <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada." </p>
                                <h4>William Smith</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                                <p>"Quisque lacinia sed velit et maximus. Quisque dictum, lacus a malesuada finibus, arcu magna luctus risus, eu accumsan
                                risus elit vitae lacus." </p>
                                <h4>Vinny Smart</h4>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </section>

        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
               <script>
                    $(window).scroll(function () {
                        if ($(window).scrollTop() >= 200) {
                            $('nav').addClass('fixed-header');
                        }
                        else {
                            $('nav').removeClass('fixed-header');
                        }
                    });

                </script>
</body>

</html>